<h1><%= @dataset.fullname %></h1>

<div id="chart">
  <svg style="height: 500px;"></svg>
</div>

<script>
	var data = [{
		area: true,
    values: <%= @data.to_json.html_safe %>,
    key: "<%= @dataset.shortname %>",
    color: "#ff7f0e"
	}];

	var chart;

	nv.addGraph(function() {
	  chart = nv.models.lineChart();

		chart.xAxis.tickFormat(function(d) { return d3.time.format('%b %Y')(new Date(d)) });

	  chart.yAxis.axisLabel('<%= @dataset.shortname %>(<%= @dataset.units %>)')
			.tickFormat(d3.format(',.2f'));

	  d3.select('#chart svg')
			.datum(data)
			.transition().duration(500)
			.call(chart);

	  nv.utils.windowResize(chart.update);

	  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

	  return chart;
	});
</script>
